body{
    background-color: #84E1AD;
}

main{
    background-color: white;
    height: 2700px;
    width: 835px;
    font-family: sans-serif;
    text-indent: 30px;
    text-align: justify;
    margin: auto;
}

article > p{
    padding: 20px;
}
header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, #37C677,#000000a8 );
    font-weight: lighter;
    height: 150px;
    margin: -10px;
    width: 100%;
    padding: 0px;
}
header > h1{
    text-align: center;
    margin-top: 0px;
}
header > h2{
    text-align: center;
    font-size: 0.8em;
}
header > nav{
  
    font-weight: bold;
    padding-left: 20px;
    word-spacing: 30px
    ;
}

article > h2#titulo{
    color:#1A5C38;
    font-family: idroid;
    margin-top: 10px;
    padding-top: 30px;
}
article > h2.titulo02{
    color:#1A5C38;
    font-family: idroid;
    font-size: 1.2em;
    background-color: #8ef8bc7e;

}
strong{
    color: #00883d;
    font-weight: bolder;
}
div#video{
    background-color: #1A5C38;
    height: 380px;
    margin: auto;
    padding: 20px;
}

picture > img#moça{
    padding: 2%;
    margin: auto;
}

div > header#final{
    background-image: linear-gradient(to bottom, #37C677 ,#37C677);
background-color: #37C677 #37C677 rgb(55, 198, 119);
width: 800px;
height: 50px;
margin: auto; 
  
}



div#lista{
    background-color: #37c6774f;
    width: 800px;
    margin: auto;
}

div#lista > article > p{
   margin-top: 0px;
}

div#lista > p{
    font-size: large;
 }
/* iframe#video2{
    margin: 1000px;
} */
















/* Cores verdes
claro:#84E1AD
medio:#37C677
escuro:#1A5C38 */
