body{
    background-color: #84E1AD;
}

main{
    background-color: white;
    height: 100%;
    font-family: sans-serif;
    text-indent: 30px;
    text-align: justify;
}
header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, #37C677,#000000a8 );
    font-weight: lighter;
    height: 150px;
}
header > h1{
    text-align: center;
}
header > h2{
    text-align: center;
    font-size: 0.8em;
}
header > nav{
    margin-top: 30px;
    font-weight: bold;
    padding: 5px 6px 20px 20px;
}

article > h2#titulo{
    color:#1A5C38;
    font-family: idroid;
}
article > h2.titulo02{
    color:#1A5C38;
    font-family: idroid;
    font-size: 1.2em;
    background-color: #acf5cc60;
}
strong{
    color: #00883d;
    font-weight: bolder;
}
div#video{
    background-color: #1A5C38;
    height: 350px;
    margin-top: 200px;
    margin: auto;
}

















/* Cores verdes
claro:#84E1AD
medio:#37C677
escuro:#1A5C38 */
